<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="footerStyle.css" />
    <title>Document</title>
  </head>
  <body>
    <footer>
      <div class="footerLogo">
        <img src="/logo4.png" alt="" />
      </div>

      <div class="footerLinks">
        <ul>
          <li><a href="/About-Us">About Us</a></li>
          <li><a href="/product">Products</a></li>
          <li><a href="/shipping">Shipping Policy</a></li>
          <li><a href="/privacyPolicy">Privacy Policy</a></li>
        </ul>
      </div>

      <div class="footerContactUsBox">
        <div class="socialMedia">
          <a href="https://www.instagram.com/treffenss/"
            ><i class="fa-brands fa-instagram"></i
          ></a>
          <a
            href="https://www.tiktok.com/@treffens24?is_from_webapp=1&sender_device=pc"
            ><i class="fa-brands fa-tiktok"></i
          ></a>
        </div>
        <div class="contactUs">
          <p><span>Email: </span>treffens.co@gmail.com</p>
          <p><span>Phone Number: </span>+79520453128</p>
        </div>
      </div>
    </footer>

    <script
      src="https://kit.fontawesome.com/c16ccac8e1.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
