<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="aboutUsStyle.css" />
    <title>Treffens - About Us</title>
  </head>
  <body>
    <%- include('partials/header.ejs') -%>

    <div class="contentContainer">
      <div class="contentFirstBox">
        <div class="firstBoxTxt">
          <h2>Welcome to</h2>
          <h2></h2><span class="mainColor">TREFFENS</span></h2>
          <h4>
            Welcome to TREFFENS, where we are redefining streetwear fashion. Our journey began with a vision: to create high-quality, comfortable, and stylish clothing that resonates with the vibrant street culture. We believe in blending innovation with tradition, crafting pieces that are not just garments but expressions of individuality and lifestyle.
          </h4>
        </div>
        <div class="firstBoxImg">
          <img src="/firstDiv.jpeg" alt="" />
        </div>
      </div>

      <!-- <div class="firstDiv">
        <div class="scene">
          <div class="banner">
            <div class="panel"></div>
            <div class="panel"></div>
            <div class="panel"></div>
            <div class="panel"></div>
            <div class="panel"></div>
            <div class="panel"></div>
            <div class="panel"></div>
            <div class="panel"></div>
            <div class="panel"></div>
            <div class="panel"></div>
            <div class="panel"></div>
            <div class="panel"></div>
            <div class="panel"></div>
            <div class="panel"></div>
            <div class="panel"></div>
            <div class="panel"></div>
            <div class="panel"></div>
            <div class="panel"></div>
            <div class="panel"></div>
            <div class="panel"></div>
            <div class="panel"></div>
            <div class="panel"></div>
            <div class="panel"></div>
            <div class="panel"></div>
          </div>
          <div class="screen"></div>
        </div>
      </div> -->

      <div class="contentSecondBox">
        <div class="secondBoxTxt">

          <h2 style="font-family: 'Bebas Neue';">Our Story </h2>
          <p>
            Founded by Momen, Amr, and Ibrahim, TREFFENS is a streetwear brand that
             captures the pulse of urban culture. We fuse bold designs with premium
              quality to create clothing that stands out. At TREFFENS, we create fashion
               that feels as good as it looks, offering unique pieces that resonate
                with the modern streetwear enthusiast. Join us and make a statement with TREFFENS.
          </p>
        </div>
      </div>
    </div>

    <div class="contentThirdBox">
      <div class="thirdBoxGif">
        <video width="800px" height="700px" autoplay loop muted>
          <source src="rotatingLogoAboutUs.mp4" type="video/mp4" />
          Your browser does not support the video tag.
        </video>
      </div>
      <div class="thirdBoxTxt">
        <h2 style="font-family: 'Bebas Neue';">Our Mission</h2>
        <p>
          At TREFFENS, we aim to push the boundaries of streetwear, infusing each piece with creativity and authenticity. Our designs reflect the dynamic energy of urban life, capturing the essence of the streets and transforming it into wearable art.
        </p>
        <ul>
          <li>Innovation in design</li>
          <li>Superior quality materials</li>
          <li>Sustainability and ethical production</li>
          <li>Customer satisfaction</li>
        </ul>
      </div>
    </div>
    <%- include('partials/footer.ejs') -%>
  </body>
</html>