<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Privacy Policy</title>
    <link rel="stylesheet" href="privacyPolicyStyle.css" />
  </head>
  <body>
    <%- include('partials/header.ejs') -%>

    <div class="container">
      <section id="privacy-policy">
        <h2>Privacy Policy</h2>
        <p>
          We understand the concerns customers have with online orders.For that
          reason we would like to ensure our customers that all information
          collected on our site is secure and will not be misused in any way.
        </p>
        <h3>Information We Collect</h3>
        <p>
          When ordering or signing up on our site we request the following
          information:
        </p>
        <ul>
          <li>Name</li>
          <li>E-mail address</li>
          <li>Phone number</li>
          <li>Delivery address</li>
        </ul>

        <h3>How We Use Your Information</h3>
        <p>This information may be used in the following ways:</p>
        <ul>
          <li>
            To personalize your experience: You’ve joined our community and we
            would like to share with you all the happy moments by sending you
            newsletters, promotions, offers & exclusive events.
          </li>
          <li>
            To improve customer service: We strive to offer our customers the
            best service and through the information we’ve collected from you,
            we will be able to respond more effectively to your needs, requests
            and feedback.
          </li>
        </ul>

        <div class="extra-space"></div>

        <p>
          Your information will not be sold, exchanged, transferred, or given to
          any other company or outside parties for any reason whatsoever,
          without your consent, other than for the express purpose of delivering
          the purchased goods.
        </p>

        <p>
          If you have concerns about ordering online, please contact us at
          <a href="mailto:treffens.co@gmail.com">treffens.co@gmail.com</a> and
          we'll guide you every step of the way.
        </p>
      </section>
    </div>

    <%- include('partials/footer.ejs') -%>
  </body>
</html>
