<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Shipping Information</title>
    <link rel="stylesheet" href="shippingStyle.css" />
  </head>
  <body>
    <%- include('partials/header.ejs') -%>
    <div class="container">
      <section class="shipping-container">
        <h1>Shipping Information</h1>
        <h2>SHIPPING</h2>
        <p>
          We ship all over Egypt, Russia. We ONLY have Standard Delivery which
          takes 2-14 business days depending on your location.
        </p>
        <ul>
          <li>
            If you are experiencing a non-delivery or your tracking information
            states that your package was delivered by the carrier but you have
            not received it; you must contact us within 10 days to file a claim.
            We will assist you in working with the carrier to complete the
            claims process. Please note: Claims can take up to 30 days to
            complete (depending on the shipping carrier's rules & regulations).
            We do not issue refunds or credits for packages that the carrier
            confirms as being delivered.
          </li>
          <li>
            Shipping fees are non-refundable. If you refuse any shipments from
            Delta Co. for textile industries, you will be held responsible for
            the original shipping charges, plus the cost of returning the
            package to us. This amount will be deducted from any credit issued.
          </li>
        </ul>
        <h2>OUT-OF-STOCK ITEMS</h2>
        <p>
          If your order includes multiple items and one (or more) of the items
          are out of stock: we will go ahead and ship the rest of your order,
          issuing a refund to your original form of payment for the item(s) not
          in stock.
        </p>
      </section>
    </div>
    <%- include('partials/footer.ejs') -%>
  </body>
</html>
