<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" type="x-icon" href="/logo4.png" />

    <title>Treffens - Size Chart</title>
    <link rel="stylesheet" href="sizeChartStyle.css" />
  </head>
  <body>
    <%- include('partials/header.ejs') -%>

    <div class="sizeChartcontainer">
      <h1>Size Chart</h1>
      <table>
        <thead>
          <tr>
            <th></th>
            <th>Length</th>
            <th>Width</th>
            <th>Sleeves</th>
            <th>Shoulders</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td data-label="Size" class="sizeBox">S</td>
            <td data-label="Length">68</td>
            <td data-label="Width">56</td>
            <td data-label="Sleeves">62</td>
            <td data-label="Shoulders">15.5</td>
          </tr>
          <tr>
            <td data-label="Size" class="sizeBox">M</td>
            <td data-label="Length">70</td>
            <td data-label="Width">59</td>
            <td data-label="Sleeves">64</td>
            <td data-label="Shoulders">16</td>
          </tr>
          <tr>
            <td data-label="Size" class="sizeBox">L</td>
            <td data-label="Length">75</td>
            <td data-label="Width">64</td>
            <td data-label="Sleeves">69</td>
            <td data-label="Shoulders">16.5</td>
          </tr>
          <tr>
            <td data-label="Size" class="sizeBox">XL</td>
            <td data-label="Length">79</td>
            <td data-label="Width">88</td>
            <td data-label="Sleeves">73</td>
            <td data-label="Shoulders">17.5</td>
          </tr>
        </tbody>
      </table>
      <p class="note">All sizes are in centimeters</p>
    </div>
    <%- include('partials/footer.ejs') -%>
  </body>
</html>
